.responsive-box {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  gap: 10px;
  font-size: 12px;
  align-items: center;
  justify-content: center;
}

@media (min-width: 640px) {
  .responsive-box {
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    font-size: 12px;
  }
}
@media (min-width: 840px) {
  .responsive-box {
    flex-direction: row;
    justify-content: space-around;
    padding: 10px 0px;
    gap: 10px;
    font-size: 14px;
  }
}
